<!DOCTYPE html>

<html>

<head>
  <link rel="shortcut icon" href="/img/icon.png" type="image/x-icon">
  <link rel="stylesheet" href="/css/style.css">
  <title>404</title>
</head>

<body>
  <div class="main-content">
    {{>header}}

    <p>{{error_message}}</p>
  </div>


  {{>footer}}
</body>

</html>