<!DOCTYPE html>

<html>

<head>
  <link rel="shortcut icon" href="/img/icon.png" type="image/x-icon">
  <link rel="stylesheet" href="css/style.css">
  <title>Help</title>
</head>

<body>
  <div class="main-content">
      {{>header}}
  <p>{{info}}</p>
  <i>
    <a href={{url}}>node docs</a>
  </i>
  </div>

  {{>footer}}

</body>

</html>